{% macro render_field(field) %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        {{ field.label(class_="control-label col-sm-2") }}
        <div class="col-sm-2">
            {{ field(class_="form-control", **kwargs)|safe }}
            {% if field.errors %}
                <p class="help-block {{ field.name }}-error">{{ field.errors|join(' ') }}</p>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
