<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Currency Converter</title>
  </head>
  <body>
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="/">
    {{ form.csrf_token }}
    {{ render_field(form.amount) }}
    {{ render_field(form.convert_from) }}
    {{ render_field(form.convert_to) }}
    <div>Result: {{ result }}</div>
    <input type="submit" value="Convert">
</form>
  </body>
</html>
